
.back {
    background-image: url('../assets/bg.jpg');
    background-size: cover;
    width: 100%;
    height: 660px;
    position: relative;
  }
  
  .back::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 665px;
    background-image: url('../assets/bg.jpg');
    background-size: cover;
    z-index: 0;
    
}
.text {
    position: absolute;
    top: 50%;
    left: 20%;
    width: 30%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
@media screen and (max-width: 1000px){
    .text{
        width: 55%;
        padding: 1.5em;
        top: 40%;
        transform: translate(-50%, -50%);
    }
}
  .my-custom-btn {
    border: 2px solid #b0aaaa;
    font-weight: bold;
    color: white;
    background: linear-gradient(90deg, #b004b0, #38097a);
    padding: 1rem 2rem;
    border-radius: 2rem;
    margin-bottom: 1em;
  }
h1{
  letter-spacing: 8px;
}
@media screen and (max-width: 900px) {
  h1 {
    letter-spacing: 0;
  }
}
