.Apps {
  background-image: url("../assets/workbg.jpg");
  height: max-content;
  overflow: hidden;
}


/* Hide scrollbar for WebKit (Chrome, Safari, Edge) */
.card-container::-webkit-scrollbar {
  display: none;
}



.card-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding: 1rem;
  scrollbar-width: none;
}

.workh1{
  text-align: center;
  padding: 1rem; 
  padding-left: 40%;/* Adjust padding as needed */
  font-size: 50px;
  padding-top: 5%;
  color: aliceblue;
}

.card-wrapper {
  flex: 0 0 auto;
  margin-right: 1rem;
}

.wocard {
  background-image: url("../assets/cardback.jpg");
  background-size: 100% 100%;
  background-position: center;
  width: 350px;
  height: 330px;
  padding-top: 10%;
  margin-left: 5%;
  font-size: smaller;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.wocard:hover {
  transform: rotateY(10deg);
}

a:hover {
  color: aliceblue;
}

@media (max-width: 991.98px) {
  .wocard {
    height: 200px;
  }
}

@media (max-width: 767.98px) {
  .wocard {
    height: 250px;
  }
}
